:root {
  font-family: Century Gothic, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  box-sizing: border-box;
}
html{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  background-color: #e1e4e7;
}
.container{
  max-width: 100vw;
  min-height: 100vh;
}
button{
  border: unset;
}

.none-display{
  display: none;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: #0008;
}

.btn_neumorfus{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #0008;
  gap: 5px;
  backdrop-filter: saturate(150%);
  user-select: none;
  cursor: pointer;
  box-shadow: 
    0 0 20px 0 #fff6,
    0 20px 10px 0 #32325d40;
  border-radius: 10px;
  transition: box-shadow .2s, transform .2s;
  padding: .7rem;

}
.btn_neumorfus:hover{
  transform: translateY(6px);
  background-color: #d8faa660;
  box-shadow: 
    0 0 20px 0 #fff6,
    0 10px 10px 0 #32325d40;
}

.image, .image_2{
  user-select: none;
  filter: drop-shadow(0 0 20px #ffffff);
}
.image_2{
  filter: saturate(0);
  opacity: .3;
}
.number{
  font-weight: bold;
}
.number span{
  color: #fd004c;
}

.info{
  color: #0008;
  font-size: .9em;
  width: 80%;
  margin-inline: auto;
  text-align: center;
  padding-inline: 1rem;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: #fd004c;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  .image, .image_2{
    height: 170px;
  }
  h1{
    font-size: 1.5rem;
  }
  .info{
    color: #0008;
    font-size: .8em;
    padding-bottom: 2rem;
  }
}